#navbar{
        display: flex;
        align-items: center;
        background-color: rgb(9, 8, 54);
        width: 100%;
        height: 80px;
    }


    .containar1{
        background-color: #120c3f;
        height: 29px;
        width: 34px;
        color: white;
        margin: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
#logo {
    margin:-7px 0px;
}
#logo img{
    height: 71px;
    margin: 0px 2px 0px 0px;
    background-color: lightcyan;
}
.location{
    margin: 26px 132px 0px 134px;
    border-radius: 4px solid box;
    color: white;
    /* display: flex */
;
    position: absolute
}

#text1{
    margin: 13px 8px 0px 8px;
    font-size: small;
    padding: 11px 9px 33px 8px;

}
#text2{
    font-size: 16px;
    font-weight: bold;
    margin-left: -149px;
    margin-top: auto;
}

#sel2{
    margin: 316px;
    height: 39px;
    width: 44px;
    border-radius: 5px;
}

#search1{
    height: 36px;
    width: 476px;
    margin: -13px -317px;
    border-radius: 6px;
}

.containar{
    background-color: #FFEE58;
    height: 38px;
    width: 43px;
    margin: 19px 306px;
    /* border: white; */
    display: flex
;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 2px solid rgb(206, 8, 8);
}

#logo1 img{
    height: 80px;
    margin: -43px 18px;
    /* background-color: rgb(27, 27, 174); */
    position: absolute;
}

#cont{
    height: 38px;
    width: 54px;
    margin: 0px -291px;
    border-radius: 6px;
}

#txt1{
    font-size: 13px;
    margin: -17px -188px;
    position: relative;
    color: white;
    margin-left: -229px;    

}
#txt2{
    font-size: 13px;
    font-weight: bold;
    margin-left: -232px;
    margin-top: -2px;
    /* margin-left: -232px; */
    margin-right: 225px;
    color: white;
}

    #ac1 {
        height: 39px;
        width: 45px;
        border-radius: 5px;
        margin: -2px -134px -25px;
    }


    #t1{
        font-size: 15px;
        margin: -37px 17px;
        margin-top: -37px;
        position: relative;
        color: white;
        margin-left: -125px;
    
    }
    /* #t2{
        font-size: 16px;
        font-weight: bold;
        margin-left: -232px;
        margin-top: 9px;
        
        color: white;
        margin-right: -6px;
    }

    */

#cart{
    color: white;
    height: 15px;
    width: 174px;
    margin: 5px;
    margin-left: 17px;
}

#cart{
       font-size: 30px;
    font-weight: bold;
    margin-top: -24px;
    margin-right: 11px;
    padding-left: 0px;

}
-----------------------------------------------------------
